<!-- start custom head snippets -->
<link rel="stylesheet" href="{{ '/assets/css/fancybox-v4.0.26.css' | relative_url }}" >
<script src="{{ '/assets/js/fancybox.umd-v4.0.26.js' | relative_url }}"></script>

<script src="{{ _sources.jquery }}"></script>
<script>
  // 自动添加图片属性
  $(document).ready(function() {
    $(".zoom").attr('data-fancybox', 'gallary').css('cursor', 'zoom-in');
  });

  // 设置缩放样式
  Fancybox.bind('[data-fancybox="gallary"]', {
  Image: {
    zoom: true,
    Panzoom: {
      zoomFriction: 0.7,
      maxScale: function () {
        return 5;
      },
    },
  },
  showClass: "fancybox-zoomIn",
  hideClass: "fancybox-zoomOut",
});
</script>
<!-- end custom head snippets -->
